<link rel="stylesheet" href="/Css/ImageAndVanner.css">

<div class="perentSobBeboharKari">
  <div class="sobBeboharKari">
    সব Nagad বেবহার কারীকে অভিনন্দন আমরা আমাদের প্রিয় গ্রাহকদের জন্য ১০০ টাকা ক্যাশ ফান্ড উদযাপন করছি।
  </div>
</div>

<div class="sokolUser">Nagad তার সকল ব্যবহারকারীকে ১০০০ টাকা পুরস্কার দিচ্ছে।</div>

<img class="a100gb" src="/Images/100gb.jpg"></img>